* {
  image-rendering: optimizeSpeed;
  animation: fade 0.9s linear;
}

img {
  image-rendering: pixelated;
}

html {
  font-size: 1.2em;
  min-height: 100%;
  margin: 0;
  background-position: center center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  width: fit-content;
}

header {

  margin-bottom: 10px;
  text-align: center;
}

.body-flex {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 100%;
}


body {
  margin: 0;
  background-position: center center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  padding: 10px;
  height: 100%;
  width: 90%;

  margin: auto;
  height: 100%;
  min-height: 100%;

  overflow-x: clip;
  overflow-y: scroll;
}

main {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  background-position: center center;
  height: 100%;
  overflow: auto;
  width: 100%;
}

aside {
  text-align: center;
  vertical-align: middle;
  background-position: center center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
  padding: 10px;
  text-align: left;
  min-height: 100%;
}

.pcnav {
  text-align: center;
  vertical-align: middle;
  background-position: center center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
  min-height: 100%;
}

.phonenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.button-open {
  height: 40px;
  width: 40px;
  background: red;

  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.button-close {
  height: 40px;
  width: 40px;
  background: red;

  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

footer {
  text-align: center;
  vertical-align: middle;
  background-position: center center;
}

/* phone */
@media only screen and (max-width: 600px) {

  .pcnav {
    visibility: hidden;
    display: none;
  }

}

/* tablet, wide phone*/
@media screen and (min-width: 800px) {

  .phonenav,
  .button-open,
  .button-close {
    visibility: hidden;
    display: none;
  }

}

/* computer */
@media screen and (min-width: 1000px) {

  .phonenav,
  .button-open,
  .button-close {
    visibility: hidden;
    display: none;
  }

}

/*light mode (default)*/
@media (prefers-color-scheme: light) {

  header,
  main,
  nav,
  aside,
  footer {
    background: white;
  }

  html {
    background: black;
  }
}