* {
    image-rendering: optimizeSpeed;
    animation: fade 0.9s linear;
  }
  
  img {
    image-rendering: pixelated;
  }

html {
    font-size: 1.2em;
    min-height: 100%;
    margin: 0;
    background-position: center center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
  
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  width: fit-content;
}

header {

    margin: 10px;
    text-align: center;
  }

.body-flex{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 100%;
}


body {
    margin: 0;
    background-position: center center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
    height: 100%;
    width: 90%;
  
    margin: auto;
    height: 100%;
    min-height: 100%;
  
    overflow-x: clip;
    overflow-y: scroll;
  }

  main {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-position: center center;
    height: 100%;
    overflow: auto;
    width: 100%;
  }

  aside {
    text-align: center;
    vertical-align: middle;
    background-position: center center;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    text-align: left;
    height: 100%;
  }
  
  nav {
    text-align: center;
    vertical-align: middle;
    background-position: center center;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    text-align: left;
    height: 100%;
  }
  
  footer {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-position: center center;
    margin-right: 10px;
    margin-left: 10px;
  }